<%- include("partials/header") -%>

<h1>404 Page not found</h1>
<p>It looks like the page you're looking for does not exist. Please make sure you provided a valid URL.</p>

<%- include("partials/footer") -%>