<%- include("partials/header") -%>

<h1>500 Something went wrong.</h1>
<p>It looks like there is a problem. We are currently working on the issues to make sure it will be resolved as soon as possible</p>

<%- include("partials/footer") -%>